
@media(max-width: 1020px) {
  .design__interior {
    display: block;
  }

  .design__interior-img {
    width: 100%;
    margin-bottom: 25px;
  }

  .design__cell-three .design__interior-img {
    max-width: 100%;
    width: auto;
  }
}


@media(max-width: 768px) {
  .header__logo {
    margin-left: 0;
  }

  .logo__img {
    width: 180px;
  }

  .list__link {
    width: 35px;
    height: 35px;
  }

  .list__item+.list__item {
    margin-left: 15px;
  }

  .title {
    font-size: 55px;
  }

  .title-descr {
    font-size: 21px;
  }

  .concept {
    padding-top: 75px;
    margin-bottom: 75px;
  }

  .concept__text {
    font-size: 16px;
  }

  .premier,
  .video {
    margin-bottom: 75px;
  }

  .premier__inner {
    display: block;
  }

  .premier__img {
    width: 100%;
    margin-top: 25px;
  }

  .design-box {
    margin: 75 auto;
    display: block;
    padding: 75px 10px;
  }

  .design-box-column {
    width: 100%;
  }
}

@media(max-width: 620px) {
  .footer__inner {
    flex-wrap: wrap;
    align-content: center;
    height: 139px;
  }

  .footer .list {
    width: 100%;
    margin-top: 0;
    justify-content: center;
  }
}


@media(max-width: 520px) {
  .header__top {
    background-color: #070A1B;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    flex-wrap: wrap;
    align-content: center;
  }

  .list {
    justify-content: center;
    padding-top: 10px;
    width: 100%;
  }

  .title {
    font-size: 30px;
  }

  .header__content {
    background-position: -426px;
  }

  .footer__inner {
    flex-direction: column;
    padding-top: 10px;
    height: 139px;
  }

  .list {
    justify-content: center;
    padding-top: 10px;
    width: 100%;
  }
}


@media(max-width: 360px) {
  .design__slider-item {
    margin: 0;
  }

  .slick-track {
    margin-left: 0;
  }

  .arrow {
    display: none;
  }
}
